@import '~src/function.scss';
.header-toolbar{
    --background:transparent;
    --opacity: 1;

    .main-header{
        width: 100%; /* 400px */
        height: 100%;
        font-family: Roboto;
        background-color: #fff;
        overflow:hidden;
        //padding: 0px 20px 0px 20px;
        color:#000;
        transform: translate3d(0, 1px, 0);
        padding: 30px 20px 0 20px !important;

        .header-top{
          width: 100%;
          overflow: auto;
          //padding: 0 !important;
          background: #fff;
           .middle{
            //padding: 0!important;
            float: left;
            width:calc(100% - 77px);
            margin: 2px 0 0 5px;
            display: flex;
            align-items: center;

          }
          .right{
            padding: 0!important;
            float: right;
            font-size: 25px;
            color: #0782c9;
            margin: 5px 0 0 0;
          }
        }
        .header-bottom{
          width: 95%;
          overflow: auto;


          .header-bottom-icon{
            width: 30px;
            font-size: 25px;
            float: left;
            padding: 2px;

          }
          .header-bottom-contacts{
            width: 275px;
            font-size: 15px;
            color: #797979;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            float: left;
            padding: 5px;
            margin: 1px;
          }
        }

        .title{
          font-size: 25px;
          white-space: nowrap;
          overflow: hidden !important;
          text-overflow: ellipsis !important;
          float: left;
        }
        .div-icon{
          width: 40px;
          float: right;
          font-size: 35px;
          overflow: auto;
          padding: 1px;
        }
        .div-icon ion-icon{
          float: right;
          padding-left: 20px;
        }
    }
 }
 ion-content{
   width: 100%;
   height: 100%;
   padding: 30px 20px 0 20px !important;
   .welcome-text{
    /* width: 322px; */
    /*  width: em(422px); */
    width: 100%;
     background: #ebebeb;
     text-align: center;
     font-size: 13px;
     color: #797979;
     padding: 10px;
     margin: 0 auto;
     line-height: 1.2rem;
     //margin: 20px 39px 25px;
     border-radius: 8px;
     border: 1px solid red;
   }
   .info-meeting{
    /* width: 322px; */
    width: em(422px);
    background: var(--chat-alert-msg-color);
    text-align: center;
    font-size: 13px;
    color: #262420;
    padding: 10px;
    margin: 10px auto;
    line-height: 1.2rem;
    /* margin: 15px 0px 15px 0px; */
    border-radius: 8px;

    .info-meeting-small{
      font-size: 10px;
      font-style: italic;
    }
    .info-meeting-medium{
      font-size: 12px;
    }
    .info-meeting-normal{
      font-weight: 700;
    }
    .info-meeting-normal:hover{
      text-decoration: underline;
      color: #0782c9;
    }
   }

   .messages{
    font-size: 13px;
    font-family: Roboto;
    overflow: auto;

    //set scroll do bottom
    position: absolute;
    top: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    height: 100%;
    word-wrap: break-word;
    -webkit-overflow-scrolling: touch;

    .container-width-100{
      width: 100%;
      overflow: auto;
    }


    .incoming-true, .incoming-false{
       padding: 15px 20px;
       border-radius: 10px;
    }

     .incoming-true{
      margin: 10px 75px 10px 20px;
       background: #ebebeb;
       float: left;
       }
     }
     .incoming-false{
      margin: 10px 20px 10px 75px;
       background: var(--chat-incoming-msg-color);
       float: right;
     }
     .title{
         display: inline;
      color: var(--title-text-color);
      font-weight: bold;
      margin-bottom: 5px;

      .time{
        color: #797979;
        text-align: right;
        margin-left: 10px;
        float: right;
      }
    }
    .message{
      .message-attachments{
        .file{
          align-items: center;

          .file-details{
            width: 100%;

            .file-title{
              color: #000;
              text-decoration: underline;
              white-space: nowrap;
              overflow: hidden !important;
              text-overflow: ellipsis !important;
            }
            .file-title:hover{
              color: #0782c9;
            }
          }
        }
      }
    }
 }

 ion-footer{
   padding-top: 7.5px;
   padding-bottom: 7.5px;

  .container{
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
  }

  .chat-icon-options{
    display:block !important;
    font-size: 35px;
    float: right !important;
    margin-top: 5px;
  }

  .chat-icon-send{
    font-size: 45px;
    margin: 0 auto;
    margin-top: 4px;
  }

   .type-message{
    display: flex;
    border: 1px solid #ebebeb;
    border-radius: 25px;
    padding-left: 15px;
    margin: 0 15px 0 60px;
    align-items: center;
    overflow: auto;

      ion-textarea{
        margin: 0 !important;
        align-self: center;
      }
    }

 }

 .text-color-blue{
    font-size: 15px;
    color: #0782c9;
    font-weight: 500;
    letter-spacing: normal;
 }
 .user-status-online{
    display: block;
    float: left;
    color:#99e47b;
    padding-left: 10px;
 }
 .online{
  display: block;
  float: left;
  color:#99e47b;
  padding-left: 10px;
}
.offline{
 color:#cbced1;
 display: block;
 float: left;
 padding-left: 10px;
}
.away{
color:#ffd21f;
display: block;
 float: left;
 padding-left: 10px;
}
.invisible{
  color:#cbced1;
  display: block;
 float: left;
 padding-left: 10px;
}
.busy{
  color:#f5455c;
  display: block;
 float: left;
 padding-left: 10px;
}

