body
    
    margin: 0px
    font-family: sans-serif
    height: 100%
    width: 100%
    
    position: absolute
    top: 0
    left: 0
    z-index: 2
    min-width: 950px
    font-family: 'Krub', sans-serif
    user-select: none

    @import ./include/contacte-nos.sass

    header.header_main
        width: 100%

        box-shadow: inset 0px -39px 97px #DEDEDE
        .conteiner
            
            width: 100%
            display: flex

            .info
                padding-top: 100px
                padding: 4%
                font-size: 15pt
                color: #333333
                max-width: 762px
                padding-left: 2%
                width: 50% 
                text-align: justify
                font-family: 'Krub', sans-serif
                font-weight: 500

    div.nav
        display: flex
        background: white
        border-bottom: 1px solid #D6D6D6 
        box-shadow: 0px 10px 10px rgba(203, 203, 203, 0.47)
        z-index: 10000
        top: 0
        padding: 0px 4%

        .logo
            width: 80px
            img
                width: 100%
                
        nav    
            
            ul
                margin-top: 26px
                li
                    display: inline
                    padding-left: 30px
                    font-weight: 600
                    font-size: 13pt
                    cursor: pointer
                    a
                        color: black
                        text-decoration: none

    h2
        text-align: center
        padding-bottom: 12px
        
    
    .main_content
        

        h2
            margin-top: 50px

        .galary
            background-color: #2D2D2D
            box-shadow: inset 0px -52px 67px #1d1d1d
            display: block
            padding-bottom: 15px
            z-index: 100
            padding-top: 30px
            
            
            p.showMore
                color: white
                text-align: center
                margin-bottom: 0px

            p.arrow
                margin: 0px 
                cursor: pointer 
                color: white 
                text-align: center 

            p.title
                text-align: center
                margin: 0px
                margin-bottom: 10px
                font-weight: 600
                color: white
                font-size: 15pt


            .slide
                display: flex
                justify-content: center
                width: 100%
                .container
                    width: 95%
                    position: relative
                    color: white
                    .glider
                        display: flex
                        flex-wrap: wrap
                        justify-content: space-evenly
                        .card
                            width: 38%
                            img
                                width: 100%


    footer.footer_main
        display: flex
        padding-top: 40px
        padding-bottom: 40px
        justify-content: center
        

        .left
            display: flex
            flex-wrap: wrap

            p
                margin: 0px
                width: 100%
                padding-top: 23px

            .powercon    
                font-size: 28pt
                text-align: center
            .con1
                font-size: 17pt  !important
                text-align: center
            .con2, .con3, .con4, .con5 ,.con6, .con7
                font-size: 11pt      
                text-align: center
                color: #49688D