body
    
    margin: 0px
    font-family: sans-serif
    height: 100%
    width: 100%
    position: absolute
    top: 0
    left: 0
    z-index: 2
    min-width: 950px
    font-family: 'Krub', sans-serif

    header.header_main
        width: 100%
        user-select: none
        .background
            box-shadow: inset 0px -39px 97px #DEDEDE
            overflow: hidden
            
            .conteiner
                height: 100%
                width: 100%
                display: flex
                background-size: 100% 
                background-position-y: -450px
                background-position: bottom
                background-repeat: no-repeat


            .logo
                margin-top: -150px
                padding: 0px 4%
                padding-bottom: 50px
                font-family: 'Krub', sans-serif
            
                h1, h2
                    color: white
                    margin: 0px
                h1
                    font-size: 35px
                    font-weight: 400
                h2
                    font-size: 18px  
                    font-weight: 500
        div.nav
            display: flex
            background: white
   
            border-bottom: 1px solid #D6D6D6 
            transition: 1s
            z-index: 100

            .logo
                width: 80px
                

                img
                    width: 100%
                    
            nav    
                
                z-index: 10000
                ul
                    margin-top: 26px
                    li
                        display: inline
                        padding-left: 30px
                        font-weight: 600
                        font-size: 13pt
                        cursor: pointer
                        a
                            color: black
                            text-decoration: none
        .fixed
            position: fixed
            top: 0
            width: 100%
            box-shadow: 0px 10px 10px rgba(203, 203, 203, 0.47)
            border-bottom: 1px solid #b9b9b9

    main.main_content
        user-select: none
        z-index: 100
        font-family: 'Krub', sans-serif
        .info, .activities, .contact, .galary

            border-bottom: 1px solid #D6D6D6
            display: flex
            justify-content: space-between
            padding-top: 40px
            padding-bottom: 60px

            .left
                padding: 0px 5%
                padding-right: 0px
                .title
                    max-width: 300px
                    font-weight: 600
            .right
                padding: 0px 5%
                text-align: justify
                width: 60%
                font-size: 13pt
                font-weight: 400
        // #
        .info
            display: flex
            #cover
                width: 400px
                img 
                    width: 100%
        .activities
            .right
                ul
                    margin: 0px
                    padding: 0px
                    margin-left: 21px
                    list-style: decimal
                    font-size: 13pt
                    font-weight: 500
                    li
                        margin-bottom: 5px

                    ul  
                        margin-bottom: 15px
                        font-weight: 400
                        list-style: disc
                        ul
                            margin-bottom: 5px
                            list-style: lower-alpha

        .galary
            background-color: #2D2D2D
            box-shadow: inset 0px -52px 67px #1d1d1d
            display: block
         
            z-index: 100
            padding-bottom: 40px
            
            p.showMore
                color: white
                text-align: center
                margin-bottom: 0px

            p.arrow
                margin: 0px 
                cursor: pointer 
                color: white 
                text-align: center 

            p.title
                text-align: center
                margin: 0px
                margin-bottom: 10px
                font-weight: 600
                color: white


            .slide
                display: flex
                justify-content: center
                width: 100%
                .container
                    width: 95%
                    position: relative
                    color: white

                    img
                        width: 100%

                    #dots
                        .active
                            background-color: white
            

    footer.footer_main
        display: flex
        padding-top: 40px
        padding-bottom: 40px
        justify-content: center
        

        .left
            display: flex
            flex-wrap: wrap

            p
                margin: 0px
                width: 100%
                padding-top: 23px

            .powercon    
                font-size: 28pt
                text-align: center
            .con1
                font-size: 17pt  !important
                text-align: center
            .con2, .con3, .con4, .con5 ,.con6, .con7
                font-size: 11pt      
                text-align: center
                color: #49688D

    @import ./include/contacte-nos.sass


                

    @import "./home/header.sass"