<template>
    <div>

        
    <h2>Galeria</h2>
    
        <section class="galary" v-for="galary, section in galaries">

            <p class="title">{{ galary.title }}</p>

            <div class="slide">
                <section class="container">

                    <div class="glider">

                        <div class="card" v-for="(row,index) in galary.rows">
                            
                            <img v-if="(galary.showMaxRow*2)>=(index+1)" :src="row.imgSrc">
                          
                        </div>

                    </div>
        
        
                </section>
        
            </div>
                  
           
            <div v-if="galary.showMaxRow<galary.maxRow">
                
                <p class="showMore">Mostra mais</p>
                <p class="arrow" v-on:click="showMore(section)"><i class="fas fa-chevron-down"></i></p>

            </div>

            <div v-if="galary.showMaxRow>=galary.maxRow">
                <p class="showMore"> Fim de {{ galary.title }}</p>
            </div>

        </section>


    </div>
</template>
<script>
export default {
    data(){
        return{
            galaries:[
                {
                    title: "Gerador",
                    rows:[
                        {
                            imgSrc:"https://powerconlda.com/img/gerador/gerador-3.jpeg?fsdfsdf",
                            imgAlt:""
                        },
                        {
                            imgSrc:"https://powerconlda.com/img/gerador/gerador-2.jpeg?fsdfsdf",
                            imgAlt:""
                        },
                        {
                            imgSrc:"https://powerconlda.com/img/gerador/gerador-4.jpeg?fsdfsdf",
                            imgAlt:""
                        },
                        {
                            imgSrc:"https://powerconlda.com/img/gerador/gerador-1.jpeg",
                            imgAlt:""
                        },
                        {
                            imgSrc:"https://powerconlda.com/img/new/WhatsApfdfp-Image-2022-01-12-at-12.07.jpg",
                            imgAlt:""
                        },
                        {
                            imgSrc:"https://powerconlda.com/img/new/WhatsApp-Image-2022-01sdf-12-at-12.07.jpg",
                            imgAlt:""
                        }
                    ],
                    showMaxRow:1,
                    maxRow:1,
                },
                {
                    title: "Projecto Viana",
                    rows:[
                        {
                            imgSrc:"https://powerconlda.com/img/projetos/DSC00760.JPG?fsdfsdf",
                            imgAlt:""
                        },
                        {
                            imgSrc:"https://powerconlda.com/img/projetos/DSC00793.JPG?fsdfsdf",
                            imgAlt:""
                        },
                        {
                            imgSrc:"https://powerconlda.com/img/projetos/DSC00794.JPG?fsdfsdf",
                            imgAlt:""
                        },
                        {
                            imgSrc:"https://powerconlda.com/img/viana/Photo0049.jpg?fsdfsdf",
                            imgAlt:""
                        },
                        {
                            imgSrc:"https://powerconlda.com/img/new/123WhatsApp-Image-2022-01-12-at-12.07.jpg?fsdfsdf",
                            imgAlt:""
                        },
                        {
                            imgSrc:"https://powerconlda.com/img/new/12WhatsApp-Image-2022-01-12-at-12.07.jpg?fsdfsdf",
                            imgAlt:""
                        },
                        {
                            imgSrc:"https://powerconlda.com/img/new/WhatsApdfp-Image-2022-01-12-at-12.07.jpg?fsdfsdf",
                            imgAlt:""
                        },
                        {
                            imgSrc:"https://powerconlda.com/img/new/WhatsApp-Ifmage-2022-01-12-at-12.07.jpg?fsdfsdf",
                            imgAlt:""
                        },
                        {
                            imgSrc:"https://powerconlda.com/img/new/WhatsApp-Imagdfdfde-2022-01-12-at-12.07.jpg?fsdfsdf",
                            imgAlt:""
                        },
                        {
                            imgSrc:"https://powerconlda.com/img/new/WhatsApp-Image-20sdf22-01-12-at-12.07.jpg?fsdfsdf",
                            imgAlt:""
                        },
                        
                    ],
                    showMaxRow:1,
                    maxRow:1,
                },
                {
                    title: "Outros",
                    rows:[
                        {
                            imgSrc:"https://powerconlda.com/img/projetos/DSC00754.JPG?fsdfsdf",
                            imgAlt:""
                        },
                        {
                            imgSrc:"https://powerconlda.com/img/projetos/DSC00753.JPG?fsdfsdf",
                            imgAlt:""
                        },
                                                {
                            imgSrc:"https://powerconlda.com/img/projetos/DSC00786.JPG?fsdfsdf",
                            imgAlt:""
                        },
                                                                        {
                            imgSrc:"https://powerconlda.com/img/slide/20200130_113814.jpg?fsdfsdf",
                            imgAlt:""
                        },
                        {
                            imgSrc: "https://powerconlda.com/img/gen/gen1.jpg",
                            imgAlt:""
                        },
                        {
                            imgSrc: "https://powerconlda.com/img/gen/gen2.jpg",
                            imgAlt:""
                        },
                        {
                            imgSrc: "https://powerconlda.com/img/gen/gen3.jpg",
                            imgAlt:""
                        },
                        {
                            imgSrc: "https://powerconlda.com/img/gen/gen4.jpg",
                            imgAlt:""
                        },
                        {
                            imgSrc: "https://powerconlda.com/img/gen/gen5.jpg",
                            imgAlt:""
                        },
                        {
                            imgSrc: "https://powerconlda.com/img/new/WfhatsApp-Image-2022-01-12-at-12.07.jpg",
                            imgAlt:""
                        },
                        {
                            imgSrc: "https://powerconlda.com/img/new/WhatsAfpp-Image-2022-01-12-at-12.07.jpg",
                            imgAlt:""
                        },
                        {
                            imgSrc: "https://powerconlda.com/img/new/WhatsAppf-Image-2022-01-12-at-12.07.jpg",
                            imgAlt:""
                        },
                        {
                            imgSrc: "https://powerconlda.com/img/new/WhatsApp-Image-2022-01-12-at-12.07.jpg",
                            imgAlt:""
                        },
                        {
                            imgSrc: "https://powerconlda.com/img/new/WhatsApp-Image-2022-01-12-at-12.071.jpg",
                            imgAlt:""
                        },
                        {
                            imgSrc: "https://powerconlda.com/img/new/WhatsApp-Image-2022-01-12-at-12.08.jpg",
                            imgAlt:""
                        },
                        {
                            imgSrc: "https://powerconlda.com/img/new/WhatsApp-Image-2022-01-12-at-12.f07.jpg",
                            imgAlt:""
                        },
                        {
                            imgSrc: "https://powerconlda.com/img/new/WhatsApp-Image-2022-01-12-at-12a.07.jpg",
                            imgAlt:""
                        },
                        {
                            imgSrc: "https://powerconlda.com/img/new/WhatsApp-Image-2022-01-12-at-12dfdf.07.jpg",
                            imgAlt:""
                        },
                        {
                            imgSrc: "https://powerconlda.com/img/new/WhatsApp-Image-2022-01-12-at-1sdf2.07.jpg",
                            imgAlt:""
                        },
                        {
                            imgSrc: "https://powerconlda.com/img/new/WhatsApp-Image-2022-01-12f-at-12.07.jpg",
                            imgAlt:""
                        },
                        {
                            imgSrc: "https://powerconlda.com/img/new/WhatsApp-Image-2022-01-12ff-at-12.07.jpg",
                            imgAlt:""
                        },
                        {
                            imgSrc: "https://powerconlda.com/img/new/WhatsApp-Image-2022-0asdfasdf1-12-at-12.07.jpg",
                            imgAlt:""
                        },
                        {
                            imgSrc: "https://powerconlda.com/img/new/WhatsApp-Image-202dsdsfdsds2-01-12-at-12.07.jpg",
                            imgAlt:""
                        },
                        {
                            imgSrc: "https://powerconlda.com/img/new/WhatsApp-Image234-2022-01-12-at-12.07.jpg",
                            imgAlt:""
                        },
                        {
                            imgSrc: "https://powerconlda.com/img/new/WhawwwtsApp-Image-2022-01-12-at-12.07.jpg",
                            imgAlt:""
                        },
                        {
                            imgSrc: "https://powerconlda.com/img/new/WshatsApp-Image-2022-01-12-at-12.07.jpg",
                            imgAlt:""
                        },
                        {
                            imgSrc: "https://powerconlda.com/img/new/WhffatsAfpp-Image-2022-01-12-at-12.07.jpg",
                            imgAlt:""
                        },
                        {
                            imgSrc: "https://powerconlda.com/powercon/public/img/newimage/pcl-1.jpg",
                            imgAlt:""
                        },
                        {
                            imgSrc: "https://powerconlda.com/powercon/public/img/newimage/pcl-2.jpg",
                            imgAlt:""
                        },
                        {
                            imgSrc: "https://powerconlda.com/powercon/public/img/newimage/pcl-3.jpg",
                            imgAlt:""
                        },
                        {
                            imgSrc: "https://powerconlda.com/powercon/public/img/newimage/pcl-4.jpg",
                            imgAlt:""
                        },
                        {
                            imgSrc: "https://powerconlda.com/powercon/public/img/newimage/pcl-5.jpg",
                            imgAlt:""
                        },
                        {
                            imgSrc: "https://powerconlda.com/powercon/public/img/newimage/pcl-6.jpg",
                            imgAlt:""
                        },
                        {
                            imgSrc: "https://powerconlda.com/powercon/public/img/newimage/pcl-7.jpg",
                            imgAlt:""
                        },
                        {
                            imgSrc: "https://powerconlda.com/powercon/public/img/newimage/pcl-8.jpg",
                            imgAlt:""
                        },
                        {
                            imgSrc: "https://powerconlda.com/powercon/public/img/newimage/pcl-9.jpg",
                            imgAlt:""
                        },
                        {
                            imgSrc: "https://powerconlda.com/powercon/public/img/newimage/pcl-10.jpg",
                            imgAlt:""
                        }
                    ],
                    showMaxRow:1,
                    maxRow:1,
                },
            ]
        }
    },
    methods: {
        showMore(section) {
            this.galaries[section].showMaxRow++;
        }
    },

    mounted(){

        this.galaries.forEach((galary,index) => {
            
            this.galaries[index].maxRow = Math.round(galary.rows.length /2);

        });

    }
}
</script>