.contacte-nos-disabled
    display: none !important
    
.contacte-nos
    background: rgba(33, 32, 32, 0.41)
    position: fixed
    width: 100%
    height: 100%
    z-index: 10000000
    box-shadow: inset 0px 0px 71px black
    display: flex
    .conteiner
        width: 500px
        height: 100px
        background-color: white
        justify-content: center
        z-index: 100000
        margin: auto
        border-radius: 7px
        box-shadow: 0px 0px 58px #313131
        width: 800px
        height: 500px
        display: flex
        
        .side_bar
            background-color: #0f3d6c
            box-shadow: 0px 0px 20px #151515
            padding: 20px
            border-radius: 5px
            height: 90%
            width: 400px
            margin-top: 3%
            margin-left: -100px
            box-sizing: border-box
            p.title
                color: white
                font-size: 25px
                font-weight: 500
                user-select: none
            p
                color: #d0d0ff 
                font-size: 18px  
                margin: 30px 0px
                i
                    margin-right: 5px
        .form
            width: 50%
            padding: 20px
            box-sizing: border-box
            padding: 20px 0px 0px 80px
            user-select: none
            .title
                color: #0f3d6c
                font-size: 19pt
                font-weight: 300
            .sinta
                color: #0f3d6c

            .error
                border: 1px solid #ff3636
            input
                border: none
                background-color: #eeeeee
                padding: 6px
                font-size: 12pt
                color: #120a39
                border-radius: 3px
                width: 276px
            input:focus
                border: 1px solid #0f3d6c
            p
                textarea
                    width: 286px
                    min-height: 200px
                    color: #120a39
                    background-color: #eeeeee
                    border: none
                    border-radius: 3px
            .button

                width: 60px
                background-color: #109CF1
                color: #ffffff
                text-align: center
                padding: 5px
                border-radius: 4px
                box-shadow: 0px 0px 5px #109CF1
                font-size: 10pt
                cursor: pointer
                margin-bottom: 20px


        .close_contact
            position: absolute
            font-size: 15pt
            color: #e75151
            cursor: pointer
            
