$color1 : #192A3F
$color2 : #334D6E
$textblue: #109CF1
$gray0: #90A0B7
$gray1 : #707683
$gray2 : #a8a8a8


body
    
    margin: 0px
    font-family: sans-serif
    height: 100%
    width: 100%
    position: absolute
    top: 0
    left: 0
    z-index: 2
    min-width: 950px
    font-family: 'Krub', sans-serif

#Auth
    position: absolute
    top: 0
    left: 0
    width: 100%
    font-family: poppins,sans-serif
    background-color: #f6f6f6
    user-select: none
    justify-content: center
    align-items: center
    height: 100%
    color: $color1
    

    .form-conteiner
        display: flex 
        justify-content: center
        align-items: center
        height: 100%
        .form
            font-size: 11pt
            margin: 0px auto
            background: #FFF
            border-radius: 4px
            box-shadow: 0px 10px 20px #a7a7a785
            border: 0.40px solid #d8d8d8
            border: 1px solid #c6c6c6
            padding: 20px
            width: 300px
            #error-text
                color: #E1523E
                text-align: center
                font-weight: 600
            .force_show
                display: block !important    
            .loading
                .gif    
                    width: 100px
                    height: 100px
                    background-image: url(https://powerconlda.com/icons/Blocks-1s-200px.gif)
                    background-size: 100% 100%
                    margin: 0px auto
            .logo
                color:  $textblue 
                width: 120px
                text-align: center
                margin: 25px auto
                padding: 2px 2px
                font-weight: bold
                font-size: 18pt

        
            .input-li
                margin-bottom: 20px
                label
                    font-weight: bolder
                    
                .box
                    display: flex
                    border: 1px solid #acacac
                    border-radius: 4px
                    input
                        width: 85%
                        margin: 0px auto
                        color: $color1
                        font-size: 10pt
                        font-weight: bolder
                        border: none
                        height: 23px
                        padding: 3px 0px

                    span     
                        width: 25px
                        height: 25px
                        margin-left: 10px
                        background-repeat: no-repeat
                        background-position: center
                    span.lock
                        background-image: url("https://powerconlda.com/icons/lock.png")
                    span.person     
                        background-image: url("https://powerconlda.com/icons/person-gray.svg") 
            
            .button_enter
                width: 60px
                background-color: $textblue
                color: #ffffff
                text-align: center
                margin-top: 32px
                padding: 5px 17px
                border-radius: 4px
                box-shadow: 0px 0px 5px $textblue
                font-size: 10pt
                cursor: pointer
                float: right
            .negocio
                display: flex
                align-items: center
                p
                    font-weight: 500
                    margin: 0px
                    margin-bottom: 0px
                    margin-left: 0px
                    margin-right: 10px
                select
                    background: linear-gradient( rgba(255, 255, 255, 0.858824) 42%, rgba(221, 221, 221, 0.619608))
                    color: #434343
                    padding: 5px 10px
                    font-size: 11pt
                    font-weight: 500
                    border-radius: 4px
                    cursor: pointer
                    border: 1px solid $gray2
                    width: 200px 
                    text-align: center

#admin
    header.header_main
        width: 100%

        box-shadow: inset 0px -39px 97px #DEDEDE
        .conteiner
            
            width: 100%
            display: flex

            .info
                padding-top: 100px
                padding: 4%
                font-size: 15pt
                color: #333333
                max-width: 762px
                padding-left: 2%
                width: 50% 
                text-align: justify
                font-family: 'Krub', sans-serif
                font-weight: 500

    div.nav
        display: flex
        background: white
        border-bottom: 1px solid #D6D6D6 
        box-shadow: 0px 10px 10px rgba(203, 203, 203, 0.47)
        z-index: 10000
        top: 0
        padding: 0px 4%

        .logo
            width: 80px
            img
                width: 100%
                
        nav    
            width: 100%
            ul
                margin-top: 26px
                Display: flex
                justify-content: space-between
                li
                    display: inline
                    padding-left: 30px
                    font-weight: 600
                    font-size: 13pt
                    cursor: pointer
                    a
                        color: black
                        text-decoration: none
                .dropdown
                    margin-bottom: -100%
                    border: 1px solid #ededed
                    box-shadow: 0px 2px 16px rgba(203, 203, 203, 0.47)
                    background-color: white
    main
        padding: 50px
        .count
            justify-content: space-around
            align-items: center
            display: flex
            div.box
                width: 300px
                height: 300px
                box-shadow: 0px 2px 16px rgba(203, 203, 203, 0.47)
                border-radius: 5px
                align-items: baseline
                display: flex
                justify-content: center
                flex-wrap: wrap
                color: #3C3C3C
                border: 1px solid #ededed
                .num
                    font-size: 64pt
                .title
                    text-align: left
                    font-size: 14pt
                    width: 100%
                    top: 12px
                    position: relative
                    left: 20px
                    font-size: 14pt


        table
            margin: 50px auto  
            border-spacing: none
            font-size: 14px
            width: 100%
            border-radius: 4px
            border: 1px solid #dddfe2
            background-color: #ffffff
            box-sizing: border-box
            border-spacing: 0px
        thead
            border-bottom: 1px solid #e6e6e6
            tr
                th
                    font-weight: 500
                    color: $color1
                    padding: 11px 0px
                    border-bottom: 1px solid #e6e6e6
                    text-align: center      
        tbody
            tr
            
                td
                    text-align: center
                    border-bottom: 1px solid #e6e6e6
                    border-spacing: none
                    padding: 15px 0px
                    font-size: 12pt
                    .full_color
                        font-size: 18pt
                        color: #d8d835
                        cursor: pointer
                    .not_mine
                        color: #5889c5    

                td.priority
                    div
                        width: 50px
                        margin: 0px auto    
                        border-radius: 30px
                        height: 20px
                    div.N
                        background: #39ba39
                    div.NA
                        background: #ebe901
                    div.A
                        background: #ff9900
                    div.G
                        background: #e34b4b
                        

                td.triagem
                    div        
                        width: 25px
                        margin: 0px auto    
                        height: 25px
                        background-size: 100% 100%
                div.icon_address-book-regular:hover   
                    cursor: pointer        
                td.chamar .fa-volume-up:hover
                    color: #a8a8a8 
                    cursor: pointer   
    
    footer.footer_main
        display: flex
        padding-top: 40px
        padding-bottom: 40px
        justify-content: center
        

        .left
            display: flex
            flex-wrap: wrap

            p
                margin: 0px
                width: 100%
                padding-top: 23px

            .powercon    
                font-size: 28pt
                text-align: center
            .con1
                font-size: 17pt  !important
                text-align: center
            .con2, .con3, .con4, .con5 ,.con6, .con7
                font-size: 11pt      
                text-align: center
                color: #49688D